@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f29;
  background-image: url('./images/background-elements/ellipse_16_stroke.png'), url('./images/background-elements/ellipse_17.png');
  background-position: left top, right 80px;
  background-repeat: no-repeat;
  padding: 35px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

