@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f29;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 30%;
}

.left-ellipse {
  margin-top: 0;
  align-self: flex-start;
  width: 12rem;
  height: 8rem;
}

.right-ellipse {
  min-width: 4rem;
  min-height: 4rem;
  margin-top: 30%;
  align-self: flex-end;
}

@media (max-width: 375px) {
  .right-ellipse {
    min-width: 6rem;
    min-height: 6rem;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

